* {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
  line-height: 1.5 !important;
  font-family: vazirmatn;
}

:root {
  --color-purple: #8244ff;
  --color-pink: #ff57c3;

  --color-green-dark: #16f8b6;
  --color-green-light: #198754;

  --color-bg-dark-1: #0d1224;
  --color-bg-light-1: #f4f7fb;

  --color-bg-dark-2: #0a0f1c;
  --color-bg-light-2: #e9ecef;

  --color-bg-alert-dark: #300303;
  --color-bg-alert-light: #ffd9d9;

  --color-text-dark-1: #ffffff;
  --color-text-light-1: #041333;

  --color-text-alert: #ff3131;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg-1: var(--color-bg-dark-1);
    --color-bg-2: var(--color-bg-dark-2);
    --color-text-1: var(--color-text-dark-1);
    --color-green: var(--color-green-dark);
    --color-bg-alert: var(--color-bg-alert-dark);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg-1: var(--color-bg-light-1);
    --color-bg-2: var(--color-bg-light-2);
    --color-text-1: var(--color-text-light-1);
    --color-green: var(--color-green-light);
    --color-bg-alert: var(--color-bg-alert-light);
  }
}

html,
body {
  /* height: 100%; */
  background-color: var(--color-bg-1);
  color: var(--color-text-1);
  font-size: 14px !important;
}

body {
  font-family: Vazirmatn, sans-serif;
}

[color-scheme="dark"] {
  --color-bg-1: var(--color-bg-dark-1);
  --color-bg-2: var(--color-bg-dark-2);
  --color-text-1: var(--color-text-dark-1);
  --color-green: var(--color-green-dark);
  --color-bg-alert: var(--color-bg-alert-dark);
}

[color-scheme="light"] {
  --color-bg-1: var(--color-bg-light-1);
  --color-bg-2: var(--color-bg-light-2);
  --color-text-1: var(--color-text-light-1);
  --color-green: var(--color-green-light);
  --color-bg-alert: var(--color-bg-alert-light);
}

::selection {
  background-color: var(--color-pink);
  color: #ffffff;
}

.bg-1 {
  background-color: var(--color-bg-1) !important;
}

.bg-2 {
  background-color: var(--color-bg-2) !important;
}

.bg-purple {
  background-color: var(--color-purple) !important;
}

.bg-pink {
  background-color: var(--color-pink) !important;
}

.bg-green {
  background-color: var(--color-green) !important;
}

.bg-alert {
  background-color: var(--color-bg-alert) !important;
}

.text-1 {
  color: var(--color-text-1) !important;
}

.text-purple {
  color: var(--color-purple) !important;
}

.text-pink {
  color: var(--color-pink) !important;
}

.text-green {
  color: var(--color-green) !important;
}

.text-alert {
  color: var(--color-text-alert) !important;
}

.clear {
  clear: both;
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

.btn-no-bs:focus {
  box-shadow: none !important;
}

.btn-purple {
  background-color: var(--color-purple) !important;
  border-color: var(--color-purple) !important;
}

.btn-pink {
  background-color: var(--color-pink) !important;
  border-color: var(--color-pink) !important;
}

.btn-outline-green {
  background-color: var(--color-bg-1) !important;
  color: var(--color-green) !important;
  border-color: var(--color-green) !important;
}

.btn-outline-green:hover {
  background-color: var(--color-green) !important;
  color: var(--color-bg-1) !important;
}

.btn-transparent {
  color: var(--color-text-1) !important;
  box-shadow: none !important;
}

.btn-gradient {
  background: linear-gradient(
    to right,
    var(--color-purple),
    var(--color-pink)
  ) !important;
  border: solid 1px
    linear-gradient(to right, var(--color-purple), var(--color-pink)) !important;
}

.select-form-purple {
  border-color: var(--color-text-1) !important;
}

.select-form-purple:focus {
  border-color: var(--color-purple) !important;
}
