* {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
  line-height: 1.5 !important;
  font-family: vazirmatn;
  /*for firefox scrollbar*/
  /* scrollbar-width: thin; */
  /* scrollbar-color: var(--color-purple) var(--color-bg-dark-1); */
}

:root {
  --color-purple: #8244ff;
  --color-pink: #ff57c3;
  --color-orange: #ff9f24;

  --color-green-dark: #16f8b6;
  --color-green-light: #198754;

  --color-bg-dark-1: #0d1224;
  --color-bg-light-1: #f4f7fb;

  --color-bg-dark-2: #0a0f1c;
  --color-bg-light-2: #e9ecef;

  --color-bg-dark-3: #181f36;
  --color-bg-light-3: #efefef;

  --color-bg-alert-dark: #300303;
  --color-bg-alert-light: #ffd9d9;

  --color-text-dark-1: #ffffff;
  --color-text-light-1: #041333;

  --color-text-gray-1: #ccc;

  --color-text-alert: #ff3131;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg-1: var(--color-bg-dark-1);
    --color-bg-2: var(--color-bg-dark-2);
    --color-bg-3: var(--color-bg-dark-3);
    --color-text-1: var(--color-text-dark-1);
    --color-green: var(--color-green-dark);
    --color-bg-alert: var(--color-bg-alert-dark);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg-1: var(--color-bg-light-1);
    --color-bg-2: var(--color-bg-light-2);
    --color-bg-3: var(--color-bg-light-3);
    --color-text-1: var(--color-text-light-1);
    --color-green: var(--color-green-light);
    --color-bg-alert: var(--color-bg-alert-light);
  }
}

html,
body {
  /* height: 100%; */
  background-color: var(--color-bg-1);
  color: var(--color-text-1);
  font-size: 14px !important;
}

body {
  font-family: Vazirmatn, sans-serif;
}

[color-scheme="dark"] {
  --color-bg-1: var(--color-bg-dark-1);
  --color-bg-2: var(--color-bg-dark-2);
  --color-bg-3: var(--color-bg-dark-3);
  --color-text-1: var(--color-text-dark-1);
  --color-green: var(--color-green-dark);
  --color-bg-alert: var(--color-bg-alert-dark);
}

[color-scheme="light"] {
  --color-bg-1: var(--color-bg-light-1);
  --color-bg-2: var(--color-bg-light-2);
  --color-bg-3: var(--color-bg-light-3);
  --color-text-1: var(--color-text-light-1);
  --color-green: var(--color-green-light);
  --color-bg-alert: var(--color-bg-alert-light);
}

::selection {
  background-color: var(--color-pink);
  color: var(--color-text-dark-1);
}

/* ::-webkit-scrollbar {
  width: 0.5rem;
} */
/* 
::-webkit-scrollbar-thumb {
  background: var(--color-purple); Color of the scroll thumb
  border-radius: 0.3rem;
} */

/* ::-webkit-scrollbar-thumb:hover {
  filter: brightness(1.5);
} */

.bg-1 {
  background-color: var(--color-bg-1) !important;
}

.bg-2 {
  background-color: var(--color-bg-2) !important;
}

.bg-3 {
  background-color: var(--color-bg-3) !important;
}

.bg-purple {
  background-color: var(--color-purple) !important;
}

.bg-pink {
  background-color: var(--color-pink) !important;
}

.bg-orange {
  background-color: var(--color-orange) !important;
}

.bg-green {
  background-color: var(--color-green) !important;
}

.bg-alert {
  background-color: var(--color-bg-alert) !important;
}

.text-1 {
  color: var(--color-text-1) !important;
}

.text-purple {
  color: var(--color-purple) !important;
}

.text-pink {
  color: var(--color-pink) !important;
}

.text-orange {
  color: var(--color-orange) !important;
}

.text-green {
  color: var(--color-green) !important;
}

.text-alert {
  color: var(--color-text-alert) !important;
}

.clear {
  clear: both;
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

.btn-no-bs:focus {
  box-shadow: none !important;
}

.btn-purple {
  background-color: var(--color-purple) !important;
  border-color: var(--color-purple) !important;
}

.btn-pink {
  background-color: var(--color-pink) !important;
  border-color: var(--color-pink) !important;
}

.btn-orange {
  background-color: var(--color-orange) !important;
  border-color: var(--color-orange) !important;
}

.btn-orange:hover {
  color: var(--color-text-light-1) !important;
}

.btn-green {
  background-color: var(--color-green) !important;
  border-color: var(--color-green) !important;
  color: var(--color-bg-1) !important;
}

.btn-outline-green {
  background-color: var(--color-bg-1) !important;
  color: var(--color-green) !important;
  border-color: var(--color-green) !important;
}

.btn-outline-green:hover {
  background-color: var(--color-green) !important;
  color: var(--color-bg-1) !important;
}

.btn-gradient {
  background: linear-gradient(
    to right,
    var(--color-purple),
    var(--color-pink)
  ) !important;
  border: solid 1px
    linear-gradient(to right, var(--color-purple), var(--color-pink)) !important;
}

.select-form-purple {
  border-color: var(--color-text-1) !important;
}

.select-form-purple:focus {
  border-color: var(--color-purple) !important;
}

.pointer {
  cursor: pointer;
}

.url-purple {
  color: var(--color-purple);
  text-decoration: none;
}

.url-purple:hover {
  color: var(--color-purple);
  text-decoration: underline;
}

.url-green {
  color: var(--color-green);
  text-decoration: none;
}

.url-green:hover {
  color: var(--color-green);
  text-decoration: underline;
}

.icon-18 {
  width: 18px;
  height: 18px;
}

.icon-20 {
  width: 20px;
  height: 20px;
}

.icon-22 {
  width: 22px;
  height: 22px;
}

.icon-24 {
  width: 24px;
  height: 24px;
}

.icon-26 {
  width: 26px;
  height: 26px;
}

.border-top-solid {
  border-top: solid 1px var(--color-text-1) !important;
}
