.main-body {
  min-height: 85vh;
}

.url-purple {
  color: var(--color-purple);
  text-decoration: none;
}

.url-purple:hover {
  color: var(--color-purple);
  text-decoration: underline;
}

.url-input-group {
  margin-top: 5%;
  padding-left: 25%;
  padding-right: 25%;
  height: 50px;
}

.url-input-field {
  direction: rtl;
  border-color: var(--color-pink) !important;
  background-color: var(--color-bg-2) !important;
  color: var(--color-text-1) !important;
}

.url-input-field:focus {
  box-shadow: none !important;
}

@media only screen and (max-width: 768px) {
  .url-input-group {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media only screen and (max-width: 480px) {
  .url-input-group {
    margin-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
  }
}
