.theme-toggle-btn {
  border-radius: 50%;
}

.theme-toggle-btn:hover {
  color: var(--color-purple) !important;
}

@media only screen and (max-width: 768px) {
  .navbar-logo {
    justify-content: center;
  }
}

@media only screen and (max-width: 480px) {
  .navbar-brand {
    margin-right: 0 !important;
  }
  .theme-toggle-btn {
    padding-left: 0 !important;
  }
  .navbar-container {
    padding-left: 3% !important;
    padding-right: 3% !important;
  }
}
