.navbar {
  height: 60px !important;
}

.theme-toggle-btn {
  border-radius: 50%;
}

.theme-toggle-btn:hover {
  color: var(--color-purple) !important;
}

.theme-collapse-menu {
  border: solid 1px var(--color-text-1) !important;
  border-radius: 0.3rem !important;
}

.navbar-search-form {
  border: none !important;
  border-bottom: solid 1px var(--color-purple) !important;
  border-radius: 0 !important;
  background-color: var(--color-bg-1) !important;
  color: var(--color-text-1) !important;
  font-size: 1.1rem !important;
}

.navbar-search-form:focus {
  box-shadow: none !important;
}

.navbar-search-form::placeholder {
  font-size: 1.1rem;
}

@media only screen and (max-width: 768px) {
  .navbar-logo {
    justify-content: center;
  }
}

@media only screen and (max-width: 480px) {
  .navbar-brand {
    margin-right: 0 !important;
  }
  .theme-toggle-btn {
    padding-left: 0 !important;
  }
  .navbar-container {
    padding-left: 3% !important;
    padding-right: 3% !important;
  }
}
